<!DOCTYPE html>

<html>

  <head>

    <title>DiD</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<body>
<div id="container">
 
    <p style="text-align:center;"><img src="logo.jpg" alt="Logo" height="150" width="200"></p>
<form action="/action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1>Forma DiD e Regjistrimit</h1>
    <p>Digjitalizimi i Dokumenteve</p>
    <hr>

    <label><b>E-Adresa</b></label>
    <input type="text" placeholder="Admin Email" name="email" required>

    <label><b>Fjalkalimi</b></label>
    <input type="password" placeholder="Shëno Fjalkalimin" name="psw" required>

    <label><b>Emri i Dokumentit</b></label>
    <input type="text" placeholder=" Shëno Emrin e Dokumentit" required>

    <label><b>Lokacioni Fizik</b></label>
    <input type="text" placeholder="Vendi ku gjendet dokumenti" required>


<div>

    <label for="Përshkrimi i dokumentit">Përshkruaj  dokumentin</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>

</div>
<div>
    
</div>
<div></div>


    Dita
<select name="DOBDay">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>

      Muaji dhe viti
     
<input type="month" id="myMonth" value="2014-05">
<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("myMonth").value;
    document.getElementById("demo").innerHTML = x;
}
</script>



 

</script>
<input type="file" id="myFile">
<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}


<body>
    


<h3>Edit Todo</h3>

<form>
  <div>
     <label>Todo title: </label>
     <input type="text" value="" name="title" placeholder="Add title">
  </div>
  <div>
     <label>Todo description: </label>
     <textarea name="description" placeholder="Add description">
          
     </textarea>
  </div>
  <button type="submit">Submit</button>
</form>

</script>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Anulo</button>
      <button type="submit" class="signupbtn">Regjistro Dokumentin</button>
    </div>
  </div>


</script>
</form>














    










    <script src="/js/main.js"></script>


  </head>

  <body>